html * {
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-view {
  outline: none !important;
}

#map-description {
  position: absolute;
  font-size: 0.65rem;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  border-radius: 5px;
  bottom: 35px;
  right: 20px;
  width: 180px;
}

#map-description img {
  width: 12px;
  margin-right: 5px;
}

#toggleBtn {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  border: none;
}

#toggleBtn:hover {
  text-shadow: 0 0 0.2em white;
}

#toggleContainer {
  position: absolute;
  bottom: 20px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  padding: 10px;
  border-radius: 5px;
}

#toggleContainer * {
  margin-top: 5px;
}

#toggleContainer label {
  display: block;
}

#toggleContainer select {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 3px 0;
  border-radius: 5px;
  margin: 0px;
  color: white;
}

#toggleContainer option {
  background-color: rgb(50, 50, 50);
}

#basemapSelect {
  position: absolute;
  color: white;
  top: 20px;
  right: 20px;
  width: fit-content;
}

#basemapSelect span {
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#basemapSelect select {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  color: white;
}

#basemapSelect option {
  background-color: rgb(50, 50, 50);
}
